body{background-image:url(../images/fondodepagina.png)}
.cabesa{ width: 400px;height: 160px;background-color: #4e4d4d; margin: 160px 400px ; border-top: #017bab solid 4px; padding: 20px 30px; text-align: center;}
h1{height: 40px; margin:0px 0px 30px;font-size: 14px; border-bottom: solid 1px white ;color: white;}
a:hover{color: chocolate; text-decoration: underline;}
#ceresa{ border-bottom:solid 1px white; margin-bottom: 30px; }
a{color: white; text-decoration: none;} 